<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppKit-Darwin-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>AppKit-FreeBSD-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>AppKit-Linux-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>AppKit-MacOS-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>AppKit-Windows-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C889741E0EA0BF3100D0A0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8A2E29F0F07EA1F0054397C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE01A8070C5D9BCB00AEA51A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5A88D610C6F50E005E348A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA313740FD5667D00F480D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
