<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreFoundation-Darwin-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>CoreFoundation-FreeBSD-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>CoreFoundation-Linux-arm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>CoreFoundation-Linux-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>CoreFoundation-Linux-ppc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>CoreFoundation-Windows-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5A869710C6EE28005E348A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA828B3109B754A00C7A732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA82925109B75D600C7A732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA8295F109B773300C7A732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEA8299C109B7BFD00C7A732</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
