<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>objc-Darwin-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>objc-Darwin-ppc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>objc-Darwin-x86_64.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>objc-FreeBSD-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>objc-Linux-arm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>objc-Linux-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>objc-Linux-ppc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>objc-Solaris-sparc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>objc-Windows-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15D921D5105E922600171406</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28D484ED0FE04DDD00DC03EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE01A57F0C5D9B3100AEA51A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE4034530B42E8AF00CEC41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE4034840B42E94D00CEC41A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5A867910C6EDDC005E348A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE651A8D0FBC84DD00464BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FED70A9E0C3B3F5E000CBE5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FED70FBE0C3C0A17000CBE5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
