<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Foundation-Darwin-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Foundation-Darwin-ppc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>Foundation-Darwin-x86_64.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Foundation-FreeBSD-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Foundation-Linux-arm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Foundation-Linux-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>Foundation-Linux-ppc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Foundation-Solaris-sparc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Foundation-Windows-i386.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15D91F19105E918000171406</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28D485140FE04E7100DC03EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E4D91880A2642BD003D335C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EA048CA09E57D5F0067589C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE01A5970C5D9B6900AEA51A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE30A04F10C6ED6F00A1BF7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE6518160FBC844C00464BFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FED7081C0C3B3D2C000CBE5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FED70D670C3C09C7000CBE5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
