#include "darwin-i386-framework"

OTHER_CFLAGS = -DPTHREAD_INSIDE_BUILD -DCFNETWORK_INSIDE_BUILD -DCOREFOUNDATION_INSIDE_BUILD -DFOUNDATION_INSIDE_BUILD -DOBJC_INSIDE_BUILD -DDEBUG -D__LITTLE_ENDIAN__ -fPIC -march=i686 $(DARWIN_i386_CFLAGS) -DPLATFORM_IS_POSIX -DPLATFORM_USES_BSD_SOCKETS

OTHER_LDFLAGS =  -shared $(DARWIN_i386_FRAMEWORK_LDFLAGS)
