#include "darwin-x86_64-framework"

OTHER_CFLAGS = -DCOCOTRON_DISALLOW_FORWARDING -DPTHREAD_INSIDE_BUILD -DCFNETWORK_INSIDE_BUILD -DCOREFOUNDATION_INSIDE_BUILD -DFOUNDATION_INSIDE_BUILD -DOBJC_INSIDE_BUILD -DDEBUG -D__LITTLE_ENDIAN__ -fPIC  $(DARWIN_x86_64_CFLAGS)  -DPLATFORM_IS_POSIX -DPLATFORM_USES_BSD_SOCKETS

OTHER_LDFLAGS =  -shared $(DARWIN_x86_64_FRAMEWORK_LDFLAGS)
