
DSTROOT = ../system/

SYMROOT = build.sym
OBJROOT = build.obj

CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)/$(CURRENT_ARCH)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)/$(CURRENT_ARCH)

GCC_C_LANGUAGE_STANDARD = gnu99

DEPLOYMENT_LOCATION = YES
INSTALL_MODE_FLAG = og-w,a+rX
DEPLOYMENT_POSTPROCESSING = NO
STRIP_INSTALLED_PRODUCT = YES

PREBINDING = NO

FRAMEWORK_SEARCH_PATHS = $(DSTROOT)/Frameworks
