
DSTROOT = ../system/$(INSTALL_TARGET_TRIPLE)/

SYMROOT = build/sym
OBJROOT = build/obj

CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)-$(INSTALL_TARGET_TRIPLE)/$(CURRENT_ARCH)
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(CONFIGURATION)-$(INSTALL_TARGET_TRIPLE)/$(CURRENT_ARCH)

GCC_C_LANGUAGE_STANDARD = gnu99

DEPLOYMENT_LOCATION = YES
INSTALL_MODE_FLAG = og-w,a+rX
DEPLOYMENT_POSTPROCESSING = NO
STRIP_INSTALLED_PRODUCT = NO
COPY_PHASE_STRIP = NO
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO

MACOSX_DEPLOYMENT_TARGET =
LD_DEPENDENCY_INFO_FILE =

FRAMEWORK_SEARCH_PATHS = $(DSTROOT)/Frameworks
