#include "solaris-sparc-framework"


OTHER_CFLAGS = -pthread -DCOCOTRON_DISALLOW_FORWARDING -DPTHREAD_INSIDE_BUILD -DCFNETWORK_INSIDE_BUILD -DCOREFOUNDATION_INSIDE_BUILD -DFOUNDATION_INSIDE_BUILD -DOBJC_INSIDE_BUILD -DDEBUG -D__LITTLE_ENDIAN__ -fPIC -march=i686 -DPLATFORM_IS_POSIX -DPLATFORM_USES_BSD_SOCKETS

OTHER_LDFLAGS = -shared -lm -ldl -lpthread

LINUX_i386_FOUNDATION_GNU89_INDIVIDUAL_FILE_CFLAGS = -std=gnu89
