#include "windows-i386-framework"


OTHER_CFLAGS = -DPTHREAD_INSIDE_BUILD -DCFNETWORK_INSIDE_BUILD -DCOREFOUNDATION_INSIDE_BUILD -DFOUNDATION_INSIDE_BUILD -DOBJC_INSIDE_BUILD -DDEBUG -march=i686 $(WINDOWS_i386_CFLAGS)

OTHER_LDFLAGS = -B,static -lffi -B,dynamic -shared -lrpcrt4 -luuid -lole32 -lws2_32 $(WINDOWS_i386_FRAMEWORK_LDFLAGS)
