{
	CET = "Africa/Algiers",
	CEST = "Africa/Algiers",
	WET = "Africa/Algiers",
	WEST = "Africa/Algiers",
	PMT = "Africa/Algiers",
	WAT = "Africa/Luanda",
	LMT = "Africa/Luanda",
	WAT = "Africa/Porto-Novo",
	GMT = "Africa/Porto-Novo",
	LMT = "Africa/Porto-Novo",
	CAST = "Africa/Gaborone",
	CAT = "Africa/Gaborone",
	GMT = "Africa/Ouagadougou",
	LMT = "Africa/Ouagadougou",
	CAT = "Africa/Bujumbura",
	WAT = "Africa/Douala",
	LMT = "Africa/Douala",
	WAT = "Africa/Bangui",
	LMT = "Africa/Bangui",
	WAST = "Africa/Ndjamena",
	WAT = "Africa/Ndjamena",
	LMT = "Africa/Ndjamena",
	WAT = "Africa/Kinshasa",
	CAT = "Africa/Lubumbashi",
	WAT = "Africa/Brazzaville",
	LMT = "Africa/Brazzaville",
	GMT = "Africa/Abidjan",
	LMT = "Africa/Abidjan",
	EAT = "Africa/Djibouti",
	LMT = "Africa/Djibouti",
	EET = "Africa/Cairo",
	EEST = "Africa/Cairo",
	WAT = "Africa/Malabo",
	GMT = "Africa/Malabo",
	LMT = "Africa/Malabo",
	EAT = "Africa/Asmera",
	ADMT = "Africa/Asmera",
	EAT = "Africa/Addis_Ababa",
	ADMT = "Africa/Addis_Ababa",
	WAT = "Africa/Libreville",
	LMT = "Africa/Libreville",
	GMT = "Africa/Banjul",
	WAT = "Africa/Banjul",
	BMT = "Africa/Banjul",
	LMT = "Africa/Banjul",
	GMT = "Africa/Accra",
	GHST = "Africa/Accra",
	LMT = "Africa/Accra",
	WAT = "Africa/Conakry",
	GMT = "Africa/Conakry",
	LMT = "Africa/Conakry",
	GMT = "Africa/Bissau",
	WAT = "Africa/Bissau",
	LMT = "Africa/Bissau",
	BEAUT = "Africa/Nairobi",
	BEAT = "Africa/Nairobi",
	EAT = "Africa/Nairobi",
	LMT = "Africa/Nairobi",
	SAST = "Africa/Maseru",
	LMT = "Africa/Maseru",
	GMT = "Africa/Monrovia",
	LRT = "Africa/Monrovia",
	MMT = "Africa/Monrovia",
	EET = "Africa/Tripoli",
	CET = "Africa/Tripoli",
	CEST = "Africa/Tripoli",
	LMT = "Africa/Tripoli",
	CAT = "Africa/Blantyre",
	LMT = "Africa/Blantyre",
	WAT = "Africa/Bamako",
	GMT = "Africa/Bamako",
	LMT = "Africa/Bamako",
	GMT = "Africa/Timbuktu",
	LMT = "Africa/Timbuktu",
	WAT = "Africa/Nouakchott",
	GMT = "Africa/Nouakchott",
	LMT = "Africa/Nouakchott",
	CET = "Africa/Casablanca",
	WET = "Africa/Casablanca",
	WEST = "Africa/Casablanca",
	LMT = "Africa/Casablanca",
	WET = "Africa/El_Aaiun",
	WAT = "Africa/El_Aaiun",
	LMT = "Africa/El_Aaiun",
	CAT = "Africa/Maputo",
	LMT = "Africa/Maputo",
	WAT = "Africa/Windhoek",
	WAST = "Africa/Windhoek",
	CAT = "Africa/Windhoek",
	SAST = "Africa/Windhoek",
	SWAT = "Africa/Windhoek",
	GMT = "Africa/Niamey",
	WAT = "Africa/Niamey",
	LMT = "Africa/Niamey",
	WAT = "Africa/Lagos",
	LMT = "Africa/Lagos",
	CAT = "Africa/Kigali",
	LMT = "Africa/Kigali",
	GMT = "Africa/Sao_Tome",
	LMT = "Africa/Sao_Tome",
	GMT = "Africa/Dakar",
	WAT = "Africa/Dakar",
	LMT = "Africa/Dakar",
	GMT = "Africa/Freetown",
	WAT = "Africa/Freetown",
	SLST = "Africa/Freetown",
	FMT = "Africa/Freetown",
	BEAT = "Africa/Mogadishu",
	EAT = "Africa/Mogadishu",
	SAST = "Africa/Johannesburg",
	EAT = "Africa/Khartoum",
	CAT = "Africa/Khartoum",
	CAST = "Africa/Khartoum",
	LMT = "Africa/Khartoum",
	SAST = "Africa/Mbabane",
	LMT = "Africa/Mbabane",
	BEAUT = "Africa/Dar_es_Salaam",
	EAT = "Africa/Dar_es_Salaam",
	LMT = "Africa/Dar_es_Salaam",
	GMT = "Africa/Lome",
	CET = "Africa/Tunis",
	CEST = "Africa/Tunis",
	PMT = "Africa/Tunis",
	BEAUT = "Africa/Kampala",
	BEAT = "Africa/Kampala",
	EAT = "Africa/Kampala",
	LMT = "Africa/Kampala",
	CAT = "Africa/Lusaka",
	LMT = "Africa/Lusaka",
	CAT = "Africa/Harare",
	LMT = "Africa/Harare",
	CEST = "Africa/Ceuta",
	CET = "Africa/Ceuta",
	WEST = "Africa/Ceuta",
	WET = "Africa/Ceuta",
	CVST = "Atlantic/Cape_Verde",
	CVT = "Atlantic/Cape_Verde",
	LMT = "Atlantic/Cape_Verde",
	GMT = "Atlantic/St_Helena",
	JMT = "Atlantic/St_Helena",
	WEST = "Atlantic/Faeroe",
	WET = "Atlantic/Faeroe",
	LMT = "Atlantic/Faeroe",
	GMT = "Atlantic/Reykjavik",
	IST = "Atlantic/Reykjavik",
	ISST = "Atlantic/Reykjavik",
	RMT = "Atlantic/Reykjavik",
	EGT = "Atlantic/Jan_Mayen",
	WET = "Atlantic/Azores",
	AZOMT = "Atlantic/Azores",
	AZOT = "Atlantic/Azores",
	AZOST = "Atlantic/Azores",
	HMT = "Atlantic/Azores",
	WET = "Atlantic/Madeira",
	WEST = "Atlantic/Madeira",
	MADMT = "Atlantic/Madeira",
	MADT = "Atlantic/Madeira",
	MADST = "Atlantic/Madeira",
	FMT = "Atlantic/Madeira",
	WEST = "Atlantic/Canary",
	WET = "Atlantic/Canary",
	CANT = "Atlantic/Canary",
	LMT = "Atlantic/Canary",
	ADT = "Atlantic/Bermuda",
	AST = "Atlantic/Bermuda",
	LMT = "Atlantic/Bermuda",
	FKT = "Atlantic/Stanley",
	FKST = "Atlantic/Stanley",
	SMT = "Atlantic/Stanley",
	GST = "Atlantic/South_Georgia",
	EAT = "Indian/Comoro",
	LMT = "Indian/Comoro",
	EAST = "Indian/Antananarivo",
	EAT = "Indian/Antananarivo",
	LMT = "Indian/Antananarivo",
	MUT = "Indian/Mauritius",
	LMT = "Indian/Mauritius",
	EAT = "Indian/Mayotte",
	LMT = "Indian/Mayotte",
	RET = "Indian/Reunion",
	LMT = "Indian/Reunion",
	SCT = "Indian/Mahe",
	LMT = "Indian/Mahe",
	TFT = "Indian/Kerguelen",
	___ = "Indian/Kerguelen",
	IOT = "Indian/Chagos",
	MVT = "Indian/Maldives",
	MMT = "Indian/Maldives",
	CXT = "Indian/Christmas",
	CCT = "Indian/Cocos",
	WST = "Antarctica/Casey",
	___ = "Antarctica/Casey",
	DAVT = "Antarctica/Davis",
	___ = "Antarctica/Davis",
	MAWT = "Antarctica/Mawson",
	___ = "Antarctica/Mawson",
	DDUT = "Antarctica/DumontDUrville",
	PMT = "Antarctica/DumontDUrville",
	___ = "Antarctica/DumontDUrville",
	SYOT = "Antarctica/Syowa",
	___ = "Antarctica/Syowa",
	CLT = "Antarctica/Palmer",
	CLST = "Antarctica/Palmer",
	ARST = "Antarctica/Palmer",
	ART = "Antarctica/Palmer",
	___ = "Antarctica/Palmer",
	NZST = "Antarctica/McMurdo",
	NZDT = "Antarctica/McMurdo",
	___ = "Antarctica/McMurdo",
	NZST = "Antarctica/South_Pole",
	NZDT = "Antarctica/South_Pole",
	___ = "Antarctica/South_Pole",
	AFT = "Asia/Kabul",
	AMST = "Asia/Yerevan",
	AMT = "Asia/Yerevan",
	YERST = "Asia/Yerevan",
	YERT = "Asia/Yerevan",
	LMT = "Asia/Yerevan",
	AZST = "Asia/Baku",
	AZT = "Asia/Baku",
	BAKST = "Asia/Baku",
	BAKT = "Asia/Baku",
	LMT = "Asia/Baku",
	AST = "Asia/Bahrain",
	GST = "Asia/Bahrain",
	LMT = "Asia/Bahrain",
	BDT = "Asia/Dhaka",
	DACT = "Asia/Dhaka",
	IST = "Asia/Dhaka",
	BURT = "Asia/Dhaka",
	HMT = "Asia/Dhaka",
	BTT = "Asia/Thimphu",
	IST = "Asia/Thimphu",
	LMT = "Asia/Thimphu",
	BNT = "Asia/Brunei",
	LMT = "Asia/Brunei",
	MMT = "Asia/Rangoon",
	JST = "Asia/Rangoon",
	BURT = "Asia/Rangoon",
	RMT = "Asia/Rangoon",
	ICT = "Asia/Phnom_Penh",
	SMT = "Asia/Phnom_Penh",
	LMT = "Asia/Phnom_Penh",
	CDT = "Asia/Harbin",
	CST = "Asia/Harbin",
	HART = "Asia/Harbin",
	LMT = "Asia/Harbin",
	CST = "Asia/Shanghai",
	CDT = "Asia/Shanghai",
	LMT = "Asia/Shanghai",
	CST = "Asia/Chungking",
	CDT = "Asia/Chungking",
	CHUT = "Asia/Chungking",
	LMT = "Asia/Chungking",
	CST = "Asia/Urumqi",
	CDT = "Asia/Urumqi",
	URUT = "Asia/Urumqi",
	LMT = "Asia/Urumqi",
	CST = "Asia/Kashgar",
	CDT = "Asia/Kashgar",
	KAST = "Asia/Kashgar",
	LMT = "Asia/Kashgar",
	HKT = "Asia/Hong_Kong",
	HKST = "Asia/Hong_Kong",
	LMT = "Asia/Hong_Kong",
	CST = "Asia/Taipei",
	CDT = "Asia/Taipei",
	CST = "Asia/Macao",
	MOT = "Asia/Macao",
	MOST = "Asia/Macao",
	LMT = "Asia/Macao",
	EET = "Asia/Nicosia",
	EEST = "Asia/Nicosia",
	LMT = "Asia/Nicosia",
	GEST = "Asia/Tbilisi",
	GET = "Asia/Tbilisi",
	TBIST = "Asia/Tbilisi",
	TBIT = "Asia/Tbilisi",
	TBMT = "Asia/Tbilisi",
	JST = "Asia/Dili",
	TPT = "Asia/Dili",
	LMT = "Asia/Dili",
	IST = "Asia/Calcutta",
	BURT = "Asia/Calcutta",
	HMT = "Asia/Calcutta",
	JST = "Asia/Jakarta",
	JAVT = "Asia/Jakarta",
	JMT = "Asia/Jakarta",
	JST = "Asia/Ujung_Pandang",
	BORT = "Asia/Ujung_Pandang",
	MMT = "Asia/Ujung_Pandang",
	LMT = "Asia/Ujung_Pandang",
	CST = "Asia/Jayapura",
	JAYT = "Asia/Jayapura",
	LMT = "Asia/Jayapura",
	IRST = "Asia/Tehran",
	IRT = "Asia/Tehran",
	TMT = "Asia/Tehran",
	LMT = "Asia/Tehran",
	ADT = "Asia/Baghdad",
	AST = "Asia/Baghdad",
	BMT = "Asia/Baghdad",
	IDDT = "Asia/Jerusalem",
	IST = "Asia/Jerusalem",
	IDT = "Asia/Jerusalem",
	JMT = "Asia/Jerusalem",
	JST = "Asia/Tokyo",
	CJT = "Asia/Tokyo",
	EET = "Asia/Amman",
	EEST = "Asia/Amman",
	LMT = "Asia/Amman",
	ALMST = "Asia/Almaty",
	ALMT = "Asia/Almaty",
	LMT = "Asia/Almaty",
	AQTST = "Asia/Aqtobe",
	AQTT = "Asia/Aqtobe",
	AKTST = "Asia/Aqtobe",
	AKST = "Asia/Aqtobe",
	AKT = "Asia/Aqtobe",
	LMT = "Asia/Aqtobe",
	AQTT = "Asia/Aqtau",
	AQTST = "Asia/Aqtau",
	SHEST = "Asia/Aqtau",
	SHET = "Asia/Aqtau",
	LMT = "Asia/Aqtau",
	KGT = "Asia/Bishkek",
	KGST = "Asia/Bishkek",
	FRUST = "Asia/Bishkek",
	FRUT = "Asia/Bishkek",
	LMT = "Asia/Bishkek",
	KDT = "Asia/Seoul",
	KST = "Asia/Seoul",
	KST = "Asia/Pyongyang",
	AST = "Asia/Kuwait",
	LMT = "Asia/Kuwait",
	ICT = "Asia/Vientiane",
	SMT = "Asia/Vientiane",
	LMT = "Asia/Vientiane",
	EET = "Asia/Beirut",
	EEST = "Asia/Beirut",
	MYT = "Asia/Kuala_Lumpur",
	JST = "Asia/Kuala_Lumpur",
	MALT = "Asia/Kuala_Lumpur",
	SMT = "Asia/Kuala_Lumpur",
	MYT = "Asia/Kuching",
	JST = "Asia/Kuching",
	BORTST = "Asia/Kuching",
	BORT = "Asia/Kuching",
	LMT = "Asia/Kuching",
	HOVST = "Asia/Hovd",
	HOVT = "Asia/Hovd",
	LMT = "Asia/Hovd",
	ULAST = "Asia/Ulaanbaatar",
	ULAT = "Asia/Ulaanbaatar",
	LMT = "Asia/Ulaanbaatar",
	NPT = "Asia/Katmandu",
	IST = "Asia/Katmandu",
	LMT = "Asia/Katmandu",
	GST = "Asia/Muscat",
	LMT = "Asia/Muscat",
	PKT = "Asia/Karachi",
	KART = "Asia/Karachi",
	IST = "Asia/Karachi",
	LMT = "Asia/Karachi",
	IST = "Asia/Gaza",
	IDT = "Asia/Gaza",
	EEST = "Asia/Gaza",
	EET = "Asia/Gaza",
	JST = "Asia/Manila",
	PHT = "Asia/Manila",
	PHST = "Asia/Manila",
	AST = "Asia/Qatar",
	GST = "Asia/Qatar",
	LMT = "Asia/Qatar",
	AST = "Asia/Riyadh",
	LMT = "Asia/Riyadh",
	SGT = "Asia/Singapore",
	JST = "Asia/Singapore",
	MALT = "Asia/Singapore",
	SMT = "Asia/Singapore",
	LKT = "Asia/Colombo",
	IHST = "Asia/Colombo",
	IST = "Asia/Colombo",
	MMT = "Asia/Colombo",
	EET = "Asia/Damascus",
	EEST = "Asia/Damascus",
	LMT = "Asia/Damascus",
	TJT = "Asia/Dushanbe",
	DUSST = "Asia/Dushanbe",
	DUST = "Asia/Dushanbe",
	LMT = "Asia/Dushanbe",
	ICT = "Asia/Bangkok",
	BMT = "Asia/Bangkok",
	TMT = "Asia/Ashgabat",
	ASHST = "Asia/Ashgabat",
	ASHT = "Asia/Ashgabat",
	LMT = "Asia/Ashgabat",
	GST = "Asia/Dubai",
	LMT = "Asia/Dubai",
	UZST = "Asia/Samarkand",
	UZT = "Asia/Samarkand",
	TAST = "Asia/Samarkand",
	TASST = "Asia/Samarkand",
	SAMST = "Asia/Samarkand",
	SAMT = "Asia/Samarkand",
	LMT = "Asia/Samarkand",
	UZST = "Asia/Tashkent",
	UZT = "Asia/Tashkent",
	TASST = "Asia/Tashkent",
	TAST = "Asia/Tashkent",
	LMT = "Asia/Tashkent",
	ICT = "Asia/Saigon",
	SMT = "Asia/Saigon",
	LMT = "Asia/Saigon",
	AST = "Asia/Aden",
	LMT = "Asia/Aden",
	YEKT = "Asia/Yekaterinburg",
	YEKST = "Asia/Yekaterinburg",
	SVEST = "Asia/Yekaterinburg",
	SVET = "Asia/Yekaterinburg",
	LMT = "Asia/Yekaterinburg",
	OMSST = "Asia/Omsk",
	OMST = "Asia/Omsk",
	LMT = "Asia/Omsk",
	NOVST = "Asia/Novosibirsk",
	NOVT = "Asia/Novosibirsk",
	LMT = "Asia/Novosibirsk",
	KRAST = "Asia/Krasnoyarsk",
	KRAT = "Asia/Krasnoyarsk",
	LMT = "Asia/Krasnoyarsk",
	IRKST = "Asia/Irkutsk",
	IRKT = "Asia/Irkutsk",
	IMT = "Asia/Irkutsk",
	YAKST = "Asia/Yakutsk",
	YAKT = "Asia/Yakutsk",
	LMT = "Asia/Yakutsk",
	VLASST = "Asia/Vladivostok",
	VLAST = "Asia/Vladivostok",
	VLAT = "Asia/Vladivostok",
	LMT = "Asia/Vladivostok",
	MAGST = "Asia/Magadan",
	MAGT = "Asia/Magadan",
	LMT = "Asia/Magadan",
	PETST = "Asia/Kamchatka",
	PETT = "Asia/Kamchatka",
	LMT = "Asia/Kamchatka",
	ANAST = "Asia/Anadyr",
	ANAT = "Asia/Anadyr",
	LMT = "Asia/Anadyr",
	?? = "Asia/Riyadh87",
	?? = "Asia/Riyadh88",
	?? = "Asia/Riyadh89",
	TRT = "Asia/Istanbul",
	TRST = "Asia/Istanbul",
	EET = "Asia/Istanbul",
	EEST = "Asia/Istanbul",
	IMT = "Asia/Istanbul",
	BDT = "Asia/Dacca",
	DACT = "Asia/Dacca",
	IST = "Asia/Dacca",
	BURT = "Asia/Dacca",
	HMT = "Asia/Dacca",
	TMT = "Asia/Ashkhabad",
	ASHST = "Asia/Ashkhabad",
	ASHT = "Asia/Ashkhabad",
	LMT = "Asia/Ashkhabad",
	IDDT = "Asia/Tel_Aviv",
	IST = "Asia/Tel_Aviv",
	IDT = "Asia/Tel_Aviv",
	JMT = "Asia/Tel_Aviv",
	BTT = "Asia/Thimbu",
	IST = "Asia/Thimbu",
	LMT = "Asia/Thimbu",
	ULAST = "Asia/Ulan_Bator",
	ULAT = "Asia/Ulan_Bator",
	LMT = "Asia/Ulan_Bator",
	CST = "Australia/Darwin",
	WST = "Australia/Perth",
	EST = "Australia/Brisbane",
	EST = "Australia/Lindeman",
	CST = "Australia/Adelaide",
	EST = "Australia/Hobart",
	EST = "Australia/Melbourne",
	EST = "Australia/Sydney",
	CST = "Australia/Broken_Hill",
	LHST = "Australia/Lord_Howe",
	EST = "Australia/Lord_Howe",
	EST = "Australia/ACT",
	EST = "Australia/Canberra",
	LHST = "Australia/LHI",
	EST = "Australia/LHI",
	EST = "Australia/NSW",
	CST = "Australia/North",
	EST = "Australia/Queensland",
	CST = "Australia/South",
	EST = "Australia/Tasmania",
	EST = "Australia/Victoria",
	WST = "Australia/West",
	CST = "Australia/Yancowinna",
	CKHST = "Pacific/Rarotonga",
	CKT = "Pacific/Rarotonga",
	FJT = "Pacific/Fiji",
	FJST = "Pacific/Fiji",
	LMT = "Pacific/Fiji",
	GAMT = "Pacific/Gambier",
	LMT = "Pacific/Gambier",
	MART = "Pacific/Marquesas",
	LMT = "Pacific/Marquesas",
	TAHT = "Pacific/Tahiti",
	LMT = "Pacific/Tahiti",
	GST = "Pacific/Guam",
	GILT = "Pacific/Tarawa",
	PHOT = "Pacific/Enderbury",
	LINT = "Pacific/Kiritimati",
	MPT = "Pacific/Saipan",
	MHT = "Pacific/Majuro",
	KWAT = "Pacific/Kwajalein",
	MHT = "Pacific/Kwajalein",
	YAPT = "Pacific/Yap",
	TRUT = "Pacific/Truk",
	PONT = "Pacific/Ponape",
	KOST = "Pacific/Kosrae",
	JST = "Pacific/Nauru",
	NRT = "Pacific/Nauru",
	LMT = "Pacific/Nauru",
	NCT = "Pacific/Noumea",
	NCST = "Pacific/Noumea",
	LMT = "Pacific/Noumea",
	NZDT = "Pacific/Auckland",
	NZST = "Pacific/Auckland",
	NZHDT = "Pacific/Auckland",
	CHAST = "Pacific/Chatham",
	CHADT = "Pacific/Chatham",
	NUT = "Pacific/Niue",
	NFT = "Pacific/Norfolk",
	NMT = "Pacific/Norfolk",
	PWT = "Pacific/Palau",
	PGT = "Pacific/Port_Moresby",
	PST = "Pacific/Pitcairn",
	PNT = "Pacific/Pitcairn",
	SST = "Pacific/Pago_Pago",
	BST = "Pacific/Pago_Pago",
	NST = "Pacific/Pago_Pago",
	SAMT = "Pacific/Pago_Pago",
	LMT = "Pacific/Pago_Pago",
	WST = "Pacific/Apia",
	SAMT = "Pacific/Apia",
	LMT = "Pacific/Apia",
	SBT = "Pacific/Guadalcanal",
	LMT = "Pacific/Guadalcanal",
	TKT = "Pacific/Fakaofo",
	TOST = "Pacific/Tongatapu",
	TOT = "Pacific/Tongatapu",
	TVT = "Pacific/Funafuti",
	HST = "Pacific/Johnston",
	SST = "Pacific/Midway",
	BST = "Pacific/Midway",
	NST = "Pacific/Midway",
	WAKT = "Pacific/Wake",
	VUT = "Pacific/Efate",
	VUST = "Pacific/Efate",
	LMT = "Pacific/Efate",
	WFT = "Pacific/Wallis",
	HPT = "Pacific/Honolulu",
	HWT = "Pacific/Honolulu",
	HDT = "Pacific/Honolulu",
	HST = "Pacific/Honolulu",
	EAST = "Pacific/Easter",
	EASST = "Pacific/Easter",
	MMT = "Pacific/Easter",
	GALT = "Pacific/Galapagos",
	ECT = "Pacific/Galapagos",
	LMT = "Pacific/Galapagos",
	SST = "Pacific/Samoa",
	BST = "Pacific/Samoa",
	NST = "Pacific/Samoa",
	SAMT = "Pacific/Samoa",
	LMT = "Pacific/Samoa",
	BDST = "Europe/London",
	GMT = "Europe/London",
	BST = "Europe/London",
	BDST = "Europe/Belfast",
	GMT = "Europe/Belfast",
	BST = "Europe/Belfast",
	IST = "Europe/Belfast",
	DMT = "Europe/Belfast",
	GMT = "Europe/Dublin",
	BST = "Europe/Dublin",
	IST = "Europe/Dublin",
	DMT = "Europe/Dublin",
	CEST = "Europe/Tirane",
	CET = "Europe/Tirane",
	LMT = "Europe/Tirane",
	CEST = "Europe/Andorra",
	CET = "Europe/Andorra",
	WET = "Europe/Andorra",
	CET = "Europe/Vienna",
	CEST = "Europe/Vienna",
	EEST = "Europe/Minsk",
	MSD = "Europe/Minsk",
	CEST = "Europe/Minsk",
	CET = "Europe/Minsk",
	MSK = "Europe/Minsk",
	EET = "Europe/Minsk",
	MMT = "Europe/Minsk",
	WEST = "Europe/Brussels",
	CEST = "Europe/Brussels",
	CET = "Europe/Brussels",
	WET = "Europe/Brussels",
	EEST = "Europe/Sofia",
	CEST = "Europe/Sofia",
	CET = "Europe/Sofia",
	EET = "Europe/Sofia",
	CET = "Europe/Prague",
	CEST = "Europe/Prague",
	CET = "Europe/Copenhagen",
	CEST = "Europe/Copenhagen",
	EEST = "Europe/Tallinn",
	MSD = "Europe/Tallinn",
	MSK = "Europe/Tallinn",
	EET = "Europe/Tallinn",
	CET = "Europe/Tallinn",
	CEST = "Europe/Tallinn",
	TMT = "Europe/Tallinn",
	EET = "Europe/Helsinki",
	EEST = "Europe/Helsinki",
	HMT = "Europe/Helsinki",
	WEMT = "Europe/Paris",
	CEST = "Europe/Paris",
	CET = "Europe/Paris",
	WET = "Europe/Paris",
	WEST = "Europe/Paris",
	PMT = "Europe/Paris",
	CEMT = "Europe/Berlin",
	CET = "Europe/Berlin",
	CEST = "Europe/Berlin",
	CEST = "Europe/Gibraltar",
	CET = "Europe/Gibraltar",
	BDST = "Europe/Gibraltar",
	GMT = "Europe/Gibraltar",
	BST = "Europe/Gibraltar",
	CEST = "Europe/Athens",
	CET = "Europe/Athens",
	EET = "Europe/Athens",
	EEST = "Europe/Athens",
	AMT = "Europe/Athens",
	CET = "Europe/Budapest",
	CEST = "Europe/Budapest",
	CET = "Europe/Rome",
	CEST = "Europe/Rome",
	EEST = "Europe/Riga",
	MSD = "Europe/Riga",
	CEST = "Europe/Riga",
	CET = "Europe/Riga",
	MSK = "Europe/Riga",
	EET = "Europe/Riga",
	LST = "Europe/Riga",
	RMT = "Europe/Riga",
	CEST = "Europe/Vaduz",
	CET = "Europe/Vaduz",
	EEST = "Europe/Vilnius",
	MSD = "Europe/Vilnius",
	CEST = "Europe/Vilnius",
	MSK = "Europe/Vilnius",
	EET = "Europe/Vilnius",
	CET = "Europe/Vilnius",
	KMT = "Europe/Vilnius",
	WMT = "Europe/Vilnius",
	WET = "Europe/Luxembourg",
	WEST = "Europe/Luxembourg",
	CET = "Europe/Luxembourg",
	CEST = "Europe/Luxembourg",
	LMT = "Europe/Luxembourg",
	CET = "Europe/Malta",
	CEST = "Europe/Malta",
	MSK = "Europe/Chisinau",
	MSD = "Europe/Chisinau",
	CEST = "Europe/Chisinau",
	CET = "Europe/Chisinau",
	EET = "Europe/Chisinau",
	EEST = "Europe/Chisinau",
	BMT = "Europe/Chisinau",
	CMT = "Europe/Chisinau",
	MSK = "Europe/Tiraspol",
	MSD = "Europe/Tiraspol",
	CEST = "Europe/Tiraspol",
	CET = "Europe/Tiraspol",
	EET = "Europe/Tiraspol",
	EEST = "Europe/Tiraspol",
	BMT = "Europe/Tiraspol",
	CMT = "Europe/Tiraspol",
	CET = "Europe/Monaco",
	CEST = "Europe/Monaco",
	WEMT = "Europe/Monaco",
	WET = "Europe/Monaco",
	WEST = "Europe/Monaco",
	PMT = "Europe/Monaco",
	CEST = "Europe/Amsterdam",
	CET = "Europe/Amsterdam",
	NEST = "Europe/Amsterdam",
	NET = "Europe/Amsterdam",
	AMT = "Europe/Amsterdam",
	NST = "Europe/Amsterdam",
	CET = "Europe/Oslo",
	CEST = "Europe/Oslo",
	EET = "Europe/Warsaw",
	EEST = "Europe/Warsaw",
	CET = "Europe/Warsaw",
	CEST = "Europe/Warsaw",
	WMT = "Europe/Warsaw",
	CEST = "Europe/Lisbon",
	CET = "Europe/Lisbon",
	WEMT = "Europe/Lisbon",
	WET = "Europe/Lisbon",
	WEST = "Europe/Lisbon",
	LMT = "Europe/Lisbon",
	EET = "Europe/Bucharest",
	EEST = "Europe/Bucharest",
	BMT = "Europe/Bucharest",
	EET = "Europe/Kaliningrad",
	EEST = "Europe/Kaliningrad",
	MSK = "Europe/Kaliningrad",
	MSD = "Europe/Kaliningrad",
	CET = "Europe/Kaliningrad",
	CEST = "Europe/Kaliningrad",
	EEST = "Europe/Moscow",
	EET = "Europe/Moscow",
	MSD = "Europe/Moscow",
	MSK = "Europe/Moscow",
	MDST = "Europe/Moscow",
	MST = "Europe/Moscow",
	MMT = "Europe/Moscow",
	SAMT = "Europe/Samara",
	SAMST = "Europe/Samara",
	KUYST = "Europe/Samara",
	KUYT = "Europe/Samara",
	LMT = "Europe/Samara",
	CET = "Europe/Madrid",
	CEST = "Europe/Madrid",
	WEMT = "Europe/Madrid",
	WET = "Europe/Madrid",
	WEST = "Europe/Madrid",
	CEST = "Europe/Stockholm",
	CET = "Europe/Stockholm",
	CET = "Europe/Zurich",
	CEST = "Europe/Zurich",
	TRT = "Europe/Istanbul",
	TRST = "Europe/Istanbul",
	EET = "Europe/Istanbul",
	EEST = "Europe/Istanbul",
	IMT = "Europe/Istanbul",
	EEST = "Europe/Kiev",
	MSD = "Europe/Kiev",
	CEST = "Europe/Kiev",
	CET = "Europe/Kiev",
	MSK = "Europe/Kiev",
	EET = "Europe/Kiev",
	KMT = "Europe/Kiev",
	EEST = "Europe/Uzhgorod",
	EET = "Europe/Uzhgorod",
	MSK = "Europe/Uzhgorod",
	MSD = "Europe/Uzhgorod",
	CEST = "Europe/Uzhgorod",
	CET = "Europe/Uzhgorod",
	EEST = "Europe/Zaporozhye",
	MSD = "Europe/Zaporozhye",
	CEST = "Europe/Zaporozhye",
	CET = "Europe/Zaporozhye",
	MSK = "Europe/Zaporozhye",
	EET = "Europe/Zaporozhye",
	CUT = "Europe/Zaporozhye",
	EEST = "Europe/Simferopol",
	MSD = "Europe/Simferopol",
	CEST = "Europe/Simferopol",
	CET = "Europe/Simferopol",
	MSK = "Europe/Simferopol",
	EET = "Europe/Simferopol",
	SMT = "Europe/Simferopol",
	CEST = "Europe/Belgrade",
	CET = "Europe/Belgrade",
	EET = "Europe/Nicosia",
	EEST = "Europe/Nicosia",
	LMT = "Europe/Nicosia",
	CET = "Europe/Vatican",
	CEST = "Europe/Vatican",
	CET = "Europe/San_Marino",
	CEST = "Europe/San_Marino",
	CET = "Europe/Bratislava",
	CEST = "Europe/Bratislava",
	CEST = "Europe/Ljubljana",
	CET = "Europe/Ljubljana",
	CEST = "Europe/Sarajevo",
	CET = "Europe/Sarajevo",
	CEST = "Europe/Skopje",
	CET = "Europe/Skopje",
	CEST = "Europe/Zagreb",
	CET = "Europe/Zagreb",
	WET = "WET",
	WEST = "WET",
	CET = "CET",
	CEST = "CET",
	MET = "MET",
	MEST = "MET",
	EET = "EET",
	EEST = "EET",
	EGST = "America/Scoresbysund",
	EGT = "America/Scoresbysund",
	CGST = "America/Scoresbysund",
	CGT = "America/Scoresbysund",
	LMT = "America/Scoresbysund",
	WGST = "America/Godthab",
	WGT = "America/Godthab",
	LMT = "America/Godthab",
	AST = "America/Thule",
	ADT = "America/Thule",
	LMT = "America/Thule",
	EPT = "America/New_York",
	EDT = "America/New_York",
	EST = "America/New_York",
	EWT = "America/New_York",
	CPT = "America/Chicago",
	EST = "America/Chicago",
	CDT = "America/Chicago",
	CST = "America/Chicago",
	CWT = "America/Chicago",
	MPT = "America/Denver",
	MDT = "America/Denver",
	MST = "America/Denver",
	MWT = "America/Denver",
	PDT = "America/Los_Angeles",
	PPT = "America/Los_Angeles",
	PST = "America/Los_Angeles",
	PWT = "America/Los_Angeles",
	AKDT = "America/Juneau",
	AKST = "America/Juneau",
	PDT = "America/Juneau",
	PPT = "America/Juneau",
	PWT = "America/Juneau",
	PST = "America/Juneau",
	AKDT = "America/Yakutat",
	AKST = "America/Yakutat",
	YDT = "America/Yakutat",
	YPT = "America/Yakutat",
	YWT = "America/Yakutat",
	YST = "America/Yakutat",
	AKST = "America/Anchorage",
	AKDT = "America/Anchorage",
	AHDT = "America/Anchorage",
	AHST = "America/Anchorage",
	CAWT = "America/Anchorage",
	CAT = "America/Anchorage",
	AKST = "America/Nome",
	AKDT = "America/Nome",
	BDT = "America/Nome",
	BST = "America/Nome",
	NPT = "America/Nome",
	NWT = "America/Nome",
	NST = "America/Nome",
	HAST = "America/Adak",
	HADT = "America/Adak",
	BDT = "America/Adak",
	BST = "America/Adak",
	NPT = "America/Adak",
	NWT = "America/Adak",
	NST = "America/Adak",
	MDT = "America/Phoenix",
	MST = "America/Phoenix",
	MWT = "America/Phoenix",
	MDT = "America/Boise",
	MST = "America/Boise",
	MPT = "America/Boise",
	MWT = "America/Boise",
	PST = "America/Boise",
	PWT = "America/Boise",
	EDT = "America/Indianapolis",
	EST = "America/Indianapolis",
	CPT = "America/Indianapolis",
	CDT = "America/Indianapolis",
	CST = "America/Indianapolis",
	CWT = "America/Indianapolis",
	EDT = "America/Indiana/Marengo",
	EST = "America/Indiana/Marengo",
	CDT = "America/Indiana/Marengo",
	CPT = "America/Indiana/Marengo",
	CST = "America/Indiana/Marengo",
	CWT = "America/Indiana/Marengo",
	EST = "America/Indiana/Knox",
	CDT = "America/Indiana/Knox",
	CPT = "America/Indiana/Knox",
	CST = "America/Indiana/Knox",
	CWT = "America/Indiana/Knox",
	EDT = "America/Indiana/Vevay",
	EST = "America/Indiana/Vevay",
	CPT = "America/Indiana/Vevay",
	CST = "America/Indiana/Vevay",
	CWT = "America/Indiana/Vevay",
	EDT = "America/Indiana/Indianapolis",
	EST = "America/Indiana/Indianapolis",
	CPT = "America/Indiana/Indianapolis",
	CDT = "America/Indiana/Indianapolis",
	CST = "America/Indiana/Indianapolis",
	CWT = "America/Indiana/Indianapolis",
	EDT = "America/Louisville",
	EST = "America/Louisville",
	CPT = "America/Louisville",
	CDT = "America/Louisville",
	CST = "America/Louisville",
	CWT = "America/Louisville",
	EST = "America/Kentucky/Monticello",
	EDT = "America/Kentucky/Monticello",
	CDT = "America/Kentucky/Monticello",
	CPT = "America/Kentucky/Monticello",
	CST = "America/Kentucky/Monticello",
	CWT = "America/Kentucky/Monticello",
	EDT = "America/Kentucky/Louisville",
	EST = "America/Kentucky/Louisville",
	CPT = "America/Kentucky/Louisville",
	CDT = "America/Kentucky/Louisville",
	CST = "America/Kentucky/Louisville",
	CWT = "America/Kentucky/Louisville",
	EDT = "America/Detroit",
	EPT = "America/Detroit",
	EWT = "America/Detroit",
	EST = "America/Detroit",
	CST = "America/Detroit",
	LMT = "America/Detroit",
	EST = "America/Menominee",
	CDT = "America/Menominee",
	CPT = "America/Menominee",
	CST = "America/Menominee",
	CWT = "America/Menominee",
	NDDT = "America/St_Johns",
	NST = "America/St_Johns",
	NDT = "America/St_Johns",
	ADDT = "America/Goose_Bay",
	AST = "America/Goose_Bay",
	ADT = "America/Goose_Bay",
	NDT = "America/Goose_Bay",
	NST = "America/Goose_Bay",
	AST = "America/Halifax",
	ADT = "America/Halifax",
	LMT = "America/Halifax",
	AST = "America/Glace_Bay",
	ADT = "America/Glace_Bay",
	LMT = "America/Glace_Bay",
	EST = "America/Montreal",
	EDT = "America/Montreal",
	EST = "America/Thunder_Bay",
	EDT = "America/Thunder_Bay",
	EST = "America/Nipigon",
	EDT = "America/Nipigon",
	CST = "America/Rainy_River",
	CDT = "America/Rainy_River",
	CST = "America/Winnipeg",
	CDT = "America/Winnipeg",
	CST = "America/Regina",
	MST = "America/Regina",
	MDT = "America/Regina",
	LMT = "America/Regina",
	CST = "America/Swift_Current",
	MST = "America/Swift_Current",
	MDT = "America/Swift_Current",
	LMT = "America/Swift_Current",
	MST = "America/Edmonton",
	MDT = "America/Edmonton",
	LMT = "America/Edmonton",
	PST = "America/Vancouver",
	PDT = "America/Vancouver",
	MST = "America/Dawson_Creek",
	PST = "America/Dawson_Creek",
	PDT = "America/Dawson_Creek",
	CDT = "America/Pangnirtung",
	CST = "America/Pangnirtung",
	EST = "America/Pangnirtung",
	EDT = "America/Pangnirtung",
	ADDT = "America/Pangnirtung",
	AST = "America/Pangnirtung",
	ADT = "America/Pangnirtung",
	CDT = "America/Iqaluit",
	CST = "America/Iqaluit",
	EDDT = "America/Iqaluit",
	EST = "America/Iqaluit",
	EDT = "America/Iqaluit",
	EST = "America/Rankin_Inlet",
	CDDT = "America/Rankin_Inlet",
	CST = "America/Rankin_Inlet",
	CDT = "America/Rankin_Inlet",
	CST = "America/Cambridge_Bay",
	CDT = "America/Cambridge_Bay",
	MDDT = "America/Cambridge_Bay",
	MST = "America/Cambridge_Bay",
	MDT = "America/Cambridge_Bay",
	MDDT = "America/Yellowknife",
	MST = "America/Yellowknife",
	MDT = "America/Yellowknife",
	MST = "America/Inuvik",
	MDT = "America/Inuvik",
	PDDT = "America/Inuvik",
	PST = "America/Inuvik",
	PDT = "America/Inuvik",
	PST = "America/Whitehorse",
	PDT = "America/Whitehorse",
	YDDT = "America/Whitehorse",
	YST = "America/Whitehorse",
	YDT = "America/Whitehorse",
	PST = "America/Dawson",
	PDT = "America/Dawson",
	YDDT = "America/Dawson",
	YST = "America/Dawson",
	YDT = "America/Dawson",
	EDT = "America/Cancun",
	CDT = "America/Cancun",
	EST = "America/Cancun",
	CST = "America/Cancun",
	LMT = "America/Cancun",
	CDT = "America/Merida",
	EST = "America/Merida",
	CST = "America/Merida",
	LMT = "America/Merida",
	CDT = "America/Monterrey",
	CST = "America/Monterrey",
	LMT = "America/Monterrey",
	CDT = "America/Mexico_City",
	CST = "America/Mexico_City",
	MST = "America/Mexico_City",
	LMT = "America/Mexico_City",
	MDT = "America/Chihuahua",
	CDT = "America/Chihuahua",
	CST = "America/Chihuahua",
	MST = "America/Chihuahua",
	LMT = "America/Chihuahua",
	MDT = "America/Hermosillo",
	PST = "America/Hermosillo",
	CST = "America/Hermosillo",
	MST = "America/Hermosillo",
	LMT = "America/Hermosillo",
	MDT = "America/Mazatlan",
	PST = "America/Mazatlan",
	CST = "America/Mazatlan",
	MST = "America/Mazatlan",
	LMT = "America/Mazatlan",
	PDT = "America/Tijuana",
	MST = "America/Tijuana",
	PST = "America/Tijuana",
	LMT = "America/Tijuana",
	AST = "America/Anguilla",
	LMT = "America/Anguilla",
	AST = "America/Antigua",
	EST = "America/Antigua",
	LMT = "America/Antigua",
	EST = "America/Nassau",
	EDT = "America/Nassau",
	LMT = "America/Nassau",
	AST = "America/Barbados",
	ADT = "America/Barbados",
	BMT = "America/Barbados",
	LMT = "America/Barbados",
	CDT = "America/Belize",
	CST = "America/Belize",
	CHDT = "America/Belize",
	LMT = "America/Belize",
	EST = "America/Cayman",
	KMT = "America/Cayman",
	CST = "America/Costa_Rica",
	CDT = "America/Costa_Rica",
	SJMT = "America/Costa_Rica",
	CST = "America/Havana",
	CDT = "America/Havana",
	HMT = "America/Havana",
	AST = "America/Dominica",
	LMT = "America/Dominica",
	AST = "America/Santo_Domingo",
	EHDT = "America/Santo_Domingo",
	EST = "America/Santo_Domingo",
	EDT = "America/Santo_Domingo",
	SDMT = "America/Santo_Domingo",
	CST = "America/El_Salvador",
	CDT = "America/El_Salvador",
	LMT = "America/El_Salvador",
	AST = "America/Grenada",
	LMT = "America/Grenada",
	AST = "America/Guadeloupe",
	LMT = "America/Guadeloupe",
	CST = "America/Guatemala",
	CDT = "America/Guatemala",
	LMT = "America/Guatemala",
	EST = "America/Port-au-Prince",
	EDT = "America/Port-au-Prince",
	PPMT = "America/Port-au-Prince",
	CST = "America/Tegucigalpa",
	CDT = "America/Tegucigalpa",
	LMT = "America/Tegucigalpa",
	EDT = "America/Jamaica",
	EST = "America/Jamaica",
	KMT = "America/Jamaica",
	ADT = "America/Martinique",
	AST = "America/Martinique",
	FFMT = "America/Martinique",
	AST = "America/Montserrat",
	LMT = "America/Montserrat",
	CDT = "America/Managua",
	EST = "America/Managua",
	CST = "America/Managua",
	MMT = "America/Managua",
	EST = "America/Panama",
	PMT = "America/Panama",
	AWT = "America/Puerto_Rico",
	AST = "America/Puerto_Rico",
	AST = "America/St_Kitts",
	LMT = "America/St_Kitts",
	AST = "America/St_Lucia",
	CMT = "America/St_Lucia",
	PMDT = "America/Miquelon",
	PMST = "America/Miquelon",
	AST = "America/Miquelon",
	LMT = "America/Miquelon",
	AST = "America/St_Vincent",
	KMT = "America/St_Vincent",
	EST = "America/Grand_Turk",
	EDT = "America/Grand_Turk",
	KMT = "America/Grand_Turk",
	AST = "America/Tortola",
	LMT = "America/Tortola",
	AST = "America/St_Thomas",
	LMT = "America/St_Thomas",
	ARST = "America/Buenos_Aires",
	ART = "America/Buenos_Aires",
	CMT = "America/Buenos_Aires",
	ARST = "America/Rosario",
	ART = "America/Rosario",
	CMT = "America/Rosario",
	ARST = "America/Cordoba",
	ART = "America/Cordoba",
	CMT = "America/Cordoba",
	WARST = "America/Jujuy",
	WART = "America/Jujuy",
	ARST = "America/Jujuy",
	ART = "America/Jujuy",
	CMT = "America/Jujuy",
	ARST = "America/Catamarca",
	ART = "America/Catamarca",
	CMT = "America/Catamarca",
	WARST = "America/Mendoza",
	WART = "America/Mendoza",
	ARST = "America/Mendoza",
	ART = "America/Mendoza",
	CMT = "America/Mendoza",
	AST = "America/Aruba",
	ANT = "America/Aruba",
	LMT = "America/Aruba",
	BOT = "America/La_Paz",
	BOST = "America/La_Paz",
	LPMT = "America/La_Paz",
	FNT = "America/Noronha",
	FNST = "America/Noronha",
	LMT = "America/Noronha",
	BRT = "America/Belem",
	BRST = "America/Belem",
	LMT = "America/Belem",
	BRT = "America/Fortaleza",
	BRST = "America/Fortaleza",
	LMT = "America/Fortaleza",
	BRT = "America/Recife",
	BRST = "America/Recife",
	LMT = "America/Recife",
	BRT = "America/Araguaina",
	BRST = "America/Araguaina",
	LMT = "America/Araguaina",
	BRT = "America/Maceio",
	BRST = "America/Maceio",
	LMT = "America/Maceio",
	BRT = "America/Sao_Paulo",
	BRST = "America/Sao_Paulo",
	LMT = "America/Sao_Paulo",
	AMT = "America/Cuiaba",
	AMST = "America/Cuiaba",
	LMT = "America/Cuiaba",
	AMT = "America/Porto_Velho",
	AMST = "America/Porto_Velho",
	LMT = "America/Porto_Velho",
	AMT = "America/Boa_Vista",
	AMST = "America/Boa_Vista",
	LMT = "America/Boa_Vista",
	AMT = "America/Manaus",
	AMST = "America/Manaus",
	LMT = "America/Manaus",
	ACT = "America/Eirunepe",
	ACST = "America/Eirunepe",
	LMT = "America/Eirunepe",
	ACT = "America/Porto_Acre",
	ACST = "America/Porto_Acre",
	LMT = "America/Porto_Acre",
	CLT = "America/Santiago",
	CLST = "America/Santiago",
	SMT = "America/Santiago",
	COT = "America/Bogota",
	COST = "America/Bogota",
	BMT = "America/Bogota",
	AST = "America/Curacao",
	ANT = "America/Curacao",
	LMT = "America/Curacao",
	ECT = "America/Guayaquil",
	QMT = "America/Guayaquil",
	GFT = "America/Cayenne",
	LMT = "America/Cayenne",
	GYT = "America/Guyana",
	GBGT = "America/Guyana",
	LMT = "America/Guyana",
	PYST = "America/Asuncion",
	PYT = "America/Asuncion",
	AMT = "America/Asuncion",
	PET = "America/Lima",
	PEST = "America/Lima",
	LMT = "America/Lima",
	SRT = "America/Paramaribo",
	NEGT = "America/Paramaribo",
	PMT = "America/Paramaribo",
	LMT = "America/Paramaribo",
	AST = "America/Port_of_Spain",
	LMT = "America/Port_of_Spain",
	UYST = "America/Montevideo",
	UYT = "America/Montevideo",
	UYHST = "America/Montevideo",
	MMT = "America/Montevideo",
	VET = "America/Caracas",
	CMT = "America/Caracas",
	MPT = "America/Shiprock",
	MDT = "America/Shiprock",
	MST = "America/Shiprock",
	MWT = "America/Shiprock",
	HAST = "America/Atka",
	HADT = "America/Atka",
	BDT = "America/Atka",
	BST = "America/Atka",
	NPT = "America/Atka",
	NWT = "America/Atka",
	NST = "America/Atka",
	PDT = "America/Ensenada",
	MST = "America/Ensenada",
	PST = "America/Ensenada",
	LMT = "America/Ensenada",
	EDT = "America/Fort_Wayne",
	EST = "America/Fort_Wayne",
	CPT = "America/Fort_Wayne",
	CDT = "America/Fort_Wayne",
	CST = "America/Fort_Wayne",
	CWT = "America/Fort_Wayne",
	EST = "America/Knox_IN",
	CDT = "America/Knox_IN",
	CPT = "America/Knox_IN",
	CST = "America/Knox_IN",
	CWT = "America/Knox_IN",
	AST = "America/Virgin",
	LMT = "America/Virgin",
	GMT = "Etc/GMT",
	UTC = "Etc/UTC",
	UCT = "Etc/UCT",
	GMT-14 = "Etc/GMT-14",
	GMT-13 = "Etc/GMT-13",
	GMT-12 = "Etc/GMT-12",
	GMT-11 = "Etc/GMT-11",
	GMT-10 = "Etc/GMT-10",
	GMT-9 = "Etc/GMT-9",
	GMT-8 = "Etc/GMT-8",
	GMT-7 = "Etc/GMT-7",
	GMT-6 = "Etc/GMT-6",
	GMT-5 = "Etc/GMT-5",
	GMT-4 = "Etc/GMT-4",
	GMT-3 = "Etc/GMT-3",
	GMT-2 = "Etc/GMT-2",
	GMT-1 = "Etc/GMT-1",
	GMT+1 = "Etc/GMT+1",
	GMT+2 = "Etc/GMT+2",
	GMT+3 = "Etc/GMT+3",
	GMT+4 = "Etc/GMT+4",
	GMT+5 = "Etc/GMT+5",
	GMT+6 = "Etc/GMT+6",
	GMT+7 = "Etc/GMT+7",
	GMT+8 = "Etc/GMT+8",
	GMT+9 = "Etc/GMT+9",
	GMT+10 = "Etc/GMT+10",
	GMT+11 = "Etc/GMT+11",
	GMT+12 = "Etc/GMT+12",
	UTC = "Etc/Universal",
	UTC = "Etc/Zulu",
	GMT = "Etc/Greenwich",
	GMT = "Etc/GMT-0",
	GMT = "Etc/GMT+0",
	GMT = "Etc/GMT0",
	GMT-14 = "GMT-14",
	GMT-13 = "GMT-13",
	GMT-12 = "GMT-12",
	GMT-11 = "GMT-11",
	GMT-10 = "GMT-10",
	GMT-9 = "GMT-9",
	GMT-8 = "GMT-8",
	GMT-7 = "GMT-7",
	GMT-6 = "GMT-6",
	GMT-5 = "GMT-5",
	GMT-4 = "GMT-4",
	GMT-3 = "GMT-3",
	GMT-2 = "GMT-2",
	GMT-1 = "GMT-1",
	GMT+1 = "GMT+1",
	GMT+2 = "GMT+2",
	GMT+3 = "GMT+3",
	GMT+4 = "GMT+4",
	GMT+5 = "GMT+5",
	GMT+6 = "GMT+6",
	GMT+7 = "GMT+7",
	GMT+8 = "GMT+8",
	GMT+9 = "GMT+9",
	GMT+10 = "GMT+10",
	GMT+11 = "GMT+11",
	GMT+12 = "GMT+12",
	GMT+13 = "GMT+13",
	GMT+14 = "GMT+14",
	AST = "SystemV/AST4ADT",
	ADT = "SystemV/AST4ADT",
	EST = "SystemV/EST5EDT",
	EDT = "SystemV/EST5EDT",
	CST = "SystemV/CST6CDT",
	CDT = "SystemV/CST6CDT",
	MST = "SystemV/MST7MDT",
	MDT = "SystemV/MST7MDT",
	PST = "SystemV/PST8PDT",
	PDT = "SystemV/PST8PDT",
	YST = "SystemV/YST9YDT",
	YDT = "SystemV/YST9YDT",
	AST = "SystemV/AST4",
	EST = "SystemV/EST5",
	CST = "SystemV/CST6",
	MST = "SystemV/MST7",
	PST = "SystemV/PST8",
	YST = "SystemV/YST9",
	HST = "SystemV/HST10",
	CET = "Arctic/Longyearbyen",
	CEST = "Arctic/Longyearbyen",
	EPT = "EST5EDT",
	EDT = "EST5EDT",
	EST = "EST5EDT",
	EWT = "EST5EDT",
	CPT = "CST6CDT",
	EST = "CST6CDT",
	CDT = "CST6CDT",
	CST = "CST6CDT",
	CWT = "CST6CDT",
	MPT = "MST7MDT",
	MDT = "MST7MDT",
	MST = "MST7MDT",
	MWT = "MST7MDT",
	PDT = "PST8PDT",
	PPT = "PST8PDT",
	PST = "PST8PDT",
	PWT = "PST8PDT",
	EDT = "EST",
	EST = "EST",
	CPT = "EST",
	CDT = "EST",
	CST = "EST",
	CWT = "EST",
	MDT = "MST",
	MST = "MST",
	MWT = "MST",
	HPT = "HST",
	HWT = "HST",
	HDT = "HST",
	HST = "HST",
	PDT = "US/Pacific-New",
	PPT = "US/Pacific-New",
	PST = "US/Pacific-New",
	PWT = "US/Pacific-New",
	AKST = "US/Alaska",
	AKDT = "US/Alaska",
	AHDT = "US/Alaska",
	AHST = "US/Alaska",
	CAWT = "US/Alaska",
	CAT = "US/Alaska",
	HAST = "US/Aleutian",
	HADT = "US/Aleutian",
	BDT = "US/Aleutian",
	BST = "US/Aleutian",
	NPT = "US/Aleutian",
	NWT = "US/Aleutian",
	NST = "US/Aleutian",
	MDT = "US/Arizona",
	MST = "US/Arizona",
	MWT = "US/Arizona",
	CPT = "US/Central",
	EST = "US/Central",
	CDT = "US/Central",
	CST = "US/Central",
	CWT = "US/Central",
	EDT = "US/East-Indiana",
	EST = "US/East-Indiana",
	CPT = "US/East-Indiana",
	CDT = "US/East-Indiana",
	CST = "US/East-Indiana",
	CWT = "US/East-Indiana",
	EPT = "US/Eastern",
	EDT = "US/Eastern",
	EST = "US/Eastern",
	EWT = "US/Eastern",
	HPT = "US/Hawaii",
	HWT = "US/Hawaii",
	HDT = "US/Hawaii",
	HST = "US/Hawaii",
	EST = "US/Indiana-Starke",
	CDT = "US/Indiana-Starke",
	CPT = "US/Indiana-Starke",
	CST = "US/Indiana-Starke",
	CWT = "US/Indiana-Starke",
	EDT = "US/Michigan",
	EPT = "US/Michigan",
	EWT = "US/Michigan",
	EST = "US/Michigan",
	CST = "US/Michigan",
	LMT = "US/Michigan",
	MPT = "US/Mountain",
	MDT = "US/Mountain",
	MST = "US/Mountain",
	MWT = "US/Mountain",
	PDT = "US/Pacific",
	PPT = "US/Pacific",
	PST = "US/Pacific",
	PWT = "US/Pacific",
	SST = "US/Samoa",
	BST = "US/Samoa",
	NST = "US/Samoa",
	SAMT = "US/Samoa",
	LMT = "US/Samoa",
	GMT = "GMT",
	UTC = "Universal",
	UTC = "Zulu",
	GMT = "Greenwich",
	GMT = "GMT-0",
	GMT = "GMT+0",
	GMT = "GMT0",
	ACT = "Brazil/Acre",
	ACST = "Brazil/Acre",
	LMT = "Brazil/Acre",
	FNT = "Brazil/DeNoronha",
	FNST = "Brazil/DeNoronha",
	LMT = "Brazil/DeNoronha",
	BRT = "Brazil/East",
	BRST = "Brazil/East",
	LMT = "Brazil/East",
	AMT = "Brazil/West",
	AMST = "Brazil/West",
	LMT = "Brazil/West",
	AST = "Canada/Atlantic",
	ADT = "Canada/Atlantic",
	LMT = "Canada/Atlantic",
	CST = "Canada/Central",
	CDT = "Canada/Central",
	CST = "Canada/East-Saskatchewan",
	MST = "Canada/East-Saskatchewan",
	MDT = "Canada/East-Saskatchewan",
	LMT = "Canada/East-Saskatchewan",
	EST = "Canada/Eastern",
	EDT = "Canada/Eastern",
	MST = "Canada/Mountain",
	MDT = "Canada/Mountain",
	LMT = "Canada/Mountain",
	NDDT = "Canada/Newfoundland",
	NST = "Canada/Newfoundland",
	NDT = "Canada/Newfoundland",
	PST = "Canada/Pacific",
	PDT = "Canada/Pacific",
	CST = "Canada/Saskatchewan",
	MST = "Canada/Saskatchewan",
	MDT = "Canada/Saskatchewan",
	LMT = "Canada/Saskatchewan",
	PST = "Canada/Yukon",
	PDT = "Canada/Yukon",
	YDDT = "Canada/Yukon",
	YST = "Canada/Yukon",
	YDT = "Canada/Yukon",
	CLT = "Chile/Continental",
	CLST = "Chile/Continental",
	SMT = "Chile/Continental",
	EAST = "Chile/EasterIsland",
	EASST = "Chile/EasterIsland",
	MMT = "Chile/EasterIsland",
	CST = "Cuba",
	CDT = "Cuba",
	HMT = "Cuba",
	EET = "Egypt",
	EEST = "Egypt",
	GMT = "Eire",
	BST = "Eire",
	IST = "Eire",
	DMT = "Eire",
	BDST = "GB",
	GMT = "GB",
	BST = "GB",
	BDST = "GB-Eire",
	GMT = "GB-Eire",
	BST = "GB-Eire",
	HKT = "Hongkong",
	HKST = "Hongkong",
	LMT = "Hongkong",
	GMT = "Iceland",
	IST = "Iceland",
	ISST = "Iceland",
	RMT = "Iceland",
	IRST = "Iran",
	IRT = "Iran",
	TMT = "Iran",
	LMT = "Iran",
	IDDT = "Israel",
	IST = "Israel",
	IDT = "Israel",
	JMT = "Israel",
	EDT = "Jamaica",
	EST = "Jamaica",
	KMT = "Jamaica",
	JST = "Japan",
	CJT = "Japan",
	KWAT = "Kwajalein",
	MHT = "Kwajalein",
	EET = "Libya",
	CET = "Libya",
	CEST = "Libya",
	LMT = "Libya",
	PDT = "Mexico/BajaNorte",
	MST = "Mexico/BajaNorte",
	PST = "Mexico/BajaNorte",
	LMT = "Mexico/BajaNorte",
	MDT = "Mexico/BajaSur",
	PST = "Mexico/BajaSur",
	CST = "Mexico/BajaSur",
	MST = "Mexico/BajaSur",
	LMT = "Mexico/BajaSur",
	CDT = "Mexico/General",
	CST = "Mexico/General",
	MST = "Mexico/General",
	LMT = "Mexico/General",
	MPT = "Navajo",
	MDT = "Navajo",
	MST = "Navajo",
	MWT = "Navajo",
	NZDT = "NZ",
	NZST = "NZ",
	NZHDT = "NZ",
	CHAST = "NZ-CHAT",
	CHADT = "NZ-CHAT",
	CST = "PRC",
	CDT = "PRC",
	LMT = "PRC",
	EET = "Poland",
	EEST = "Poland",
	CET = "Poland",
	CEST = "Poland",
	WMT = "Poland",
	CEST = "Portugal",
	CET = "Portugal",
	WEMT = "Portugal",
	WET = "Portugal",
	WEST = "Portugal",
	LMT = "Portugal",
	CST = "ROC",
	CDT = "ROC",
	KDT = "ROK",
	KST = "ROK",
	SGT = "Singapore",
	JST = "Singapore",
	MALT = "Singapore",
	SMT = "Singapore",
	TRT = "Turkey",
	TRST = "Turkey",
	EET = "Turkey",
	EEST = "Turkey",
	IMT = "Turkey",
	UCT = "UCT",
	UTC = "UTC",
	EEST = "W-SU",
	EET = "W-SU",
	MSD = "W-SU",
	MSK = "W-SU",
	MDST = "W-SU",
	MST = "W-SU",
	MMT = "W-SU",
	?? = "Mideast/Riyadh87",
	?? = "Mideast/Riyadh88",
	?? = "Mideast/Riyadh89"
}
